
<div class="container-fluid">
    <h3>Forms</h3>
    <!-- Use Template Reference variable and assign that to ngForm.
    By doing So NgForm Directive Gives that variable to access of the values in every FormControls. -->

    <!-- userForm can be used as a reference for ngForm directive -->


    <!-- To DataBind the data in the Template Driven Form 3 directives plays a major role they are 
       ngForm
       ngModel
       ngModelGroup -->
    <form  #userForm="ngForm">

       {{ userForm.value | json}}   <!-- We can send the data to the server from the form using userForm.Value -->
 <hr/>
       {{userModel|json}}
         
       <!-- Now We have done the Property binding.In which we took the data from the model and store it in a variable called userModel in ts file and we have given some set of values for them in ts
       in HTMl we have done property binding /(one way binding) to get the model value to the html

       The changes that are made in HTML will reflect in ngForm value but not reflected in the userModel values as it is one way binding. -->

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="UserName" [ngModel]="userModel.name" > <!-- Even if we ngModel it wont show the  values in json,It will only show the inputs that have name attribute in it -->
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="Email" [ngModel]="userModel.email">
        </div>
        <div class="form-group">
            <label>Mobile</label>
            <input type="tel" class="form-control" name="Mobile" [ngModel]="userModel.phone">
        </div>
        <div class="form-group">
            <label for="Topics_DropDown">Topics</label>
            <select id="Topics_DropDown" name="Preference" [ngModel]="userModel.topic">
                <option selected> Im interested in :</option>
                <option *ngFor="let item of Topics">{{item}}</option>
            </select>
        </div>
           <!-- Class=Form-check-label doesnt have any effect on the form 
           but form-check-input has slight changes...
           name of two radio buttons should be same so that we can select either one. -->
        <div>
            <label>Time Preference</label>
            <div class="form-check">
                <input class="form-check-input"  [ngModel]="userModel.timePreference" type="radio" name="MorningPreference" >
                <label class="form-check-label">Morning 10-5</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" [ngModel]="userModel.timePreference" type="radio" name="MorningPreference" >
                <label class="form-check-label" >Evening 6-10</label>
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" name="CheckBox" [ngModel]="userModel.subscribe" type="checkbox">
            <label class ="form-check-label"> Click to send Adds</label>
        </div>
        <button class="btn btn-primary">Submit</button>
        

    </form>
</div>