
<div class="container-fluid">
    <h3>Forms</h3>
    <!-- Use Template Reference variable and assign that to ngForm.
    By doing So NgForm Directive Gives that variable to access of the values in every FormControls. -->

    <!-- userForm can be used as a reference for ngForm directive -->
    <form  #userForm="ngForm">

        {{ userForm.value | json}} 

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ngModel > <!-- Even if we ngModel it wont show the  values in json,It will only show the inputs that have name attribute in it -->
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label>Mobile</label>
            <input type="tel" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="Topics_DropDown">Topics</label>
            <select id="Topics_DropDown" ngModel>
                <option selected> Im interested in :</option>
                <option *ngFor="let item of Topics">{{item}}</option>
            </select>
        </div>
           <!-- Class=Form-check-label doesnt have any effect on the form 
           but form-check-input has slight changes...
           name of two radio buttons should be same so that we can select either one. -->
        <div>
            <label>Time Preference</label>
            <div class="form-check">
                <input class="form-check-input"  ngModel type="radio" name="MorningPreference" >
                <label class="form-check-label">Morning 10-5</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" ngModel type="radio" name="MorningPreference" >
                <label class="form-check-label" >Evening 6-10</label>
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" ngModel type="checkbox">
            <label class ="form-check-label"> Click to send Adds</label>
        </div>
        <button class="btn btn-primary">Submit</button>
        

    </form>
</div>